<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Todeux" %></h1>
  <p>A collaborative to do list</p>
</section>

<section class="row">
  <article class="column">
    <h2>About stuff</h2>
    <ul>
      <li>this app will do things</li>
    </ul>
  </article>
  <article class="column">
    <h2>User stuff</h2>
    <ul>
      <li>Sign up</li>
      <li>Log in</li>
    </ul>

  </article>
</section>
